<% include layouts/header %>
	<div class="container">
        <div class="row">
            <form action="/login/oauth/send" method="POST" class="col s12 container-head-space" enctype="multipart/form-data">
                <div class="row">

		        	<div class="input-field col s12 m6">
		          		<input id="username" name="username" type="text" class="validate" required>
		          		<label for="username">Nome de usuário*</label>
		        	</div>
		        	<div class="input-field col s12 m6">
		          		<input id="password" name="password" type="password" class="validate" required>
		          		<label for="password">Senha*</label>
                    </div>

                    <button class="btn waves-effect waves-light" type="submit" name="action">Login
                        <i class="material-icons right">send</i>
                    </button>
		      	</div>
            </form>
        </div>
    </div>
    <script>
        $('form').on('submit', e => {
            e.preventDefault();

            var formData = $(this).serialize();

            console.log(formData);

            $.ajax({
                type: "POST",
                url: "/login/oauth/send",
                data: formData,
                success: response => {
                    console.log(response);
                },
                error: (err, response) => {
                    console.log(response);
                },
                processData: false,
                contentType: false,
                cache: false
            });
        });
    </script>
<% include layouts/footer %>